/* Panel */
#loginPanel {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(11,171,100,1), rgba(5,93,78,1));
}

/* Fields */
.my-field {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #9c9898;
    -fx-font-size: 14px;
}

/* Buttons */
#signInButton {
    -fx-background-color: #0bab64;
    -fx-border-width: 0;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

#signUpButton {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #0bab64;
    -fx-underline: true;
}

#signInButton:hover {
    -fx-background-color: #0f9555;
    -fx-cursor: hand;
}

#signUpButton:hover {
    -fx-cursor: hand;
    -fx-text-fill: #0f9555;
}

#signInButton:pressed {
    -fx-background-color: #0d6c3e;
}

#signUpButton:pressed {
    -fx-text-fill: #0d6c3e;
}

/* Labels */
#signUpLabel {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#errorLabel {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
