.register-field {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 10px;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #9c9898;
    -fx-font-size: 14px;
}

#backLoginButton {
    -fx-background-color: transparent;
}

#backLoginButton:hover {
    -fx-cursor: hand;
}

#registerPanel {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(11,171,100,1), rgba(5,93,78,1));
}

#registerButton {
    -fx-background-color: #0bab64;
    -fx-border-width: 0;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

#registerButton:hover {
    -fx-background-color: #0f9555;
    -fx-cursor: hand;
}

#registerButton:pressed {
    -fx-background-color: #0d6c3e;
}

#registerTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#registerSubTitle {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#errorLabel {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.stack-pane > Group {
    -fx-alignment: center;
}